<!DOCTYPE html>
<html lang="en-GB">
	<head>
	<style>
		@font-face {
		    font-family: "pelotare";
		    src: url("fonts/PelotareSans-400wt.b1f687c7.woff") format('woff');
		}

	    .list {
	    	font-family: "arial";
	    	font-size: 12px;
			padding-bottom: 20px;
		}

		img {
			border: 1px solid gray;
		}

		ul {
			padding-top: 0;
			margin-top: 0;
			padding-bottom: 0;
			margin-bottom: 0;
			padding-left: 15px;
		}
	}
	</style>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/main.css">
    <title>Stack Preview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <div class="o-layout" data-o-component="o-layout">
      {{{ body }}}
    </div>
    <script type="text/javascript" src="/main.js"></script>
  </body>
</html>
