{{#each stack}}
<div class="list">
	<img src={{image_url}} width="200px"><br>
	<b>{{title}}</b><br>
	ID: {{_id}}<br>
	Date: {{date}}<br>
	{{#if difficulty_level}}Level: {{difficulty_level}}<br>{{/if}}
	Difficulty: {{difficulty_rating_avg}}<br>
	Weight: {{weight}}<br>
	<ul>
		{{#if weights.instructor}} <li>Instructor: {{weights.instructor}}</li>{{/if}}
		{{#if weights.recency}} <li>Recency: {{weights.recency}}</li>{{/if}}
		{{#if weights.ease}} <li>Ease: {{weights.ease}}</li>{{/if}}
		{{#if weights.doneIt}} <li>DoneIt: {{weights.doneIt}}</li>{{/if}}
		{{#if weights.title}} <li>Title: {{weights.title}}</li>{{/if}}
		{{#if weights.fav}} <li>Favourite: {{weights.fav}}</li>{{/if}}
		{{#if weights.randomNoise}} <li>Random: {{weights.randomNoise}}</li>{{/if}}
	<br>
</div>
{{/each}}

<h2>Graphql</h2>
{{#each graphqlresult}}
<div>-{{this}}</div>
{{/each}}
